name: Build and Release Electron
on:
  push:
    tags:
      - 'v*' # Chạy khi bạn đẩy tag như v1.0.0, v1.0.1

jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build and Publish
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}